<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - Stock</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.almost-flat.min.css">
    <link rel="stylesheet" href="/static/css/components/datepicker.css">
    <link rel="stylesheet" href="/static/css/components/datepicker.almost-flat.min.css">
    <link rel="stylesheet" href="/static/css/awesome.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/components/datepicker.min.js"></script>
    <script src="/static/js/components/pagination.min.js"></script>
    <script src="/static/js/sticky.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>
    {% block beforehead %}
    <!-- 所有JavaScript脚本都写在account.html中  -->
    {% endblock %}
</head>
<body>
    <nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
        <div class="uk-container uk-container-center">
            <a href="/" class="uk-navbar-brand">Stock</a>
            {% if __user__ %}
                <ul class="uk-navbar-nav">
                    <li><a href="/"><i class="uk-icon-home"></i> 首页</a></li>
                    {% if accounts %}
                    <li class="uk-parent" data-uk-dropdown>
                        <a href="#0"><i class="uk-icon-exchange"></i> 切换账户</a>
                        <div class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                                {% for acc in accounts %}
                                    <li><a href="/account/{{acc.id}}"><i class="uk-icon-credit-card"></i>  {{acc.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                    {% if account %}
                    <li><a href="/account/edit/{{account.id}}"><i class="uk-icon-pencil-square-o"></i> 编辑账户</a></li>
                        {% if __user__.name != "charlie" %}
                        <li><a href="#" onclick="UIkit.modal.confirm('确定要删除账户<span class=&quot;uk-badge uk-badge-danger&quot;>{{account.name}}</span>吗?', function(){ remove_account('{{account.id}}'); }); return false;"><i class="uk-icon-remove"></i> 删除账户</a></li>
                        {% endif %}
                    {% endif %}
                    <li><a href="/account/create"><i class="uk-icon-plus-square-o"></i> 创建账户</a></li>
                    {% if __user__.admin %}
                        <li><a href="/params"><i class="uk-icon-list"></i> 历史参数</a></li>
                    {% endif %}
                    {% if __user__.admin and  __user__.name != "charlie" %}
                        <li><a href="/param_statistical"><i class="uk-icon-pencil-square"></i> 统计参数</a></li>
                    {% endif %}
                </ul>
            {% endif %}
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                {% if __user__ %}
                    <li class="uk-parent" data-uk-dropdown>
                        <a href="#0"><i class="uk-icon-user"></i> {{ __user__.name }}</a>
                        <div class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                                {% if __user__.admin %}
                                    <li><a href="/manage"><i class="uk-icon-cog"></i> 管理</a></li>
                                {% endif %}
                                <li><a href="/signout"><i class="uk-icon-sign-out"></i> 登出</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li><a href="/signin"><i class="uk-icon-sign-in"></i> 登录</a></li>
                    <li><a href="/register"><i class="uk-icon-edit"></i> 注册</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="uk-container uk-container-center">

            <!-- content -->
            {% block content %}
            {% endblock %}
            <!-- // content -->

    </div>

    <div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>Powered by <a href="http://stock.charliezon.com">Stock Charliezon</a>. Copyright &copy; 2016-2017. </p>
                <p><a href="http://www.charliezon.com/" target="_blank">www.charliezon.com</a>. All rights reserved.</p>
            </div>

        </div>
    </div>
</body>
</html>