{% extends '__base__.html' %}

{% block title %}账户{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}
    <div class="uk-grid uk-grid-medium uk-grid-match" data-uk-grid-match="{target:'.uk-panel'}">
        <div class="uk-width-1-2">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title"><strong>账户信息</strong></h3>
                <ul>
                    {% if most_recent_account_record and account %}
                    <li>名称：{{account.name}}</li>
                    <li>仓位：{{most_recent_account_record.stock_position*100}}%</li>
                    <li>银证资金：{{most_recent_account_record.security_funding}}</li>
                    <li>银行资金：{{most_recent_account_record.bank_funding}}</li>
                    <li>总市值：{{most_recent_account_record.total_stock_value}}</li>
                    <li>总资产：{{most_recent_account_record.total_assets}}</li>
                    <li>浮动盈亏：{{most_recent_account_record.float_profit_lost}}</li>
                    <li>利润：{{most_recent_account_record.total_profit}}</li>
                    <li>本金：{{most_recent_account_record.principle}}</li>
                    {% endif %}
                <ul>
            </div>
        </div>

        <div class="uk-width-1-2">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title"><strong>操作建议</strong></h3>
                <ul>
                    <li>卖出万科100000股</li>
                    <li>卖出百度100000股</li>
                    <li>买入阿里巴巴1000000股</li>
                <ul>
            </div>
        </div>
    </div>

    <div class="uk-grid">
        <div class="uk-width-1-1">
            <button class="uk-button" type="button">买入</button>
            <button class="uk-button" type="button">卖出</button>
            <button class="uk-button" type="button">增加银行资金</button>
            <button class="uk-button" type="button">减少银行资金</button>
            <button class="uk-button" type="button">转入银证资金</button>
            <button class="uk-button" type="button">转出银证资金</button>
        </div>
    </div>


    <div class="uk-overflow-container uk-grid">
        <div class="uk-width-1-1">
            <table class="uk-table uk-table-striped uk-table-condensed uk-text-nowrap">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>大盘</th>
                        <th>利润</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>总资产</th>
                        <th>总市值</th>
                        <th>银证资金</th>
                        <th>银行资金</th>
                        <th>浮动盈亏</th>
                        <th>仓位</th>
                        <th>本金</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account_record in all_account_records %}
                        <tr>
                            <td>{{ account_record.date }}</td>
                            <td>牛</td>
                            <td>{{ account_record.total_profit }}</td>
                            {% for stock in account_record.stock_hold_records %}
                                <td>{{ stock.stock_name }}</td>
                                <td>{{stock.stock_amount}}</td>
                                <td>{{stock.stock_current_price}}</td>
                            {% endfor %}
                            <td>{{account_record.total_assets}}</td>
                            <td>{{account_record.total_stock_value}}</td>
                            <td>{{account_record.security_funding}}</td>
                            <td>{{account_record.bank_funding}}</td>
                            <td>{{account_record.float_profit_lost}}</td>
                            <td>{{account_record.stock_position*100}}%</td>
                            <td>{{account_record.principle}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}