{% extends '__base__.html' %}

{% block title %}账户{% endblock %}

{% block beforehead %}

<script>

var
    buy_action = '{{ buy_action }}',
    buy_vm,
    sell_action = '{{ sell_action }}',
    sell_vm,
    add_security_funding_action = '{{ add_security_funding_action }}',
    add_security_funding_vm,
    minus_security_funding_action = '{{ minus_security_funding_action }}',
    minus_security_funding_vm;


$(document).ready(function(){

    buy_vm = initVM({
        stock_name: '',
        stock_code: '',
        stock_price: 0,
        stock_amount: 0,
        date: getTodayString()
    },
    buy_action,
    '#vm_buy',
    '#buy_date');

    $("#buy_button").click(
        function() {
            buy_vm.stock_name='';
            buy_vm.stock_code='';
            buy_vm.stock_price=0;
            buy_vm.stock_amount=0;
            buy_vm.date=getTodayString();
            $("#buy_date").val(getTodayString());
        });

    sell_vm = initVM({
        stock_name: '',
        stock_code: '',
        stock_price: 0,
        stock_amount: 0,
        date: getTodayString()
    },
    sell_action,

    '#vm_sell',
    '#sell_date');

    $("#sell_button").click(
        function() {
            sell_vm.stock_name='';
            sell_vm.stock_code='';
            sell_vm.stock_price=0;
            sell_vm.stock_amount=0;
            sell_vm.date=getTodayString();
            $("#sell_date").val(getTodayString());
        });

    add_security_funding_vm = initVM({
        funding_amount: 0,
        date: getTodayString()
    },
    add_security_funding_action,
    '#vm_add_security_funding',
    '#add_security_funding_date');

    $("#add_security_funding_button").click(
        function() {
            add_security_funding_vm.funding_amount=0;
            add_security_funding_vm.date=getTodayString();
            $("#add_security_funding_date").val(getTodayString());
        });

    minus_security_funding_vm = initVM({
        funding_amount: 0,
        date: getTodayString()
    },
    minus_security_funding_action,
    '#vm_minus_security_funding',
    '#minus_security_funding_date');

    $("#minus_security_funding_button").click(
        function() {
            minus_security_funding_vm.funding_amount=0;
            minus_security_funding_vm.date=getTodayString();
            $("#minus_security_funding_date").val(getTodayString());
        });

});



function initVM(data, action, vm_element, date_element) {
    return new Vue({
        el: vm_element,
        data: data,
        methods: {
            submit: function (event) {
                this.$data.date = $(date_element).val();
                this.$data.account_id = "{{ account.id }}";
                event.preventDefault();
                var $form = $(vm_element);
                $form.postJSON(action, this.$data, function (err, r) {
                    if (err) {
                        $form.showFormError(err);
                    }
                    else {
                        return location.assign('/account/' + r.id);
                    }
                });
            }
        }
    });
}





</script>

{% endblock %}

{% block content %}
    <div class="uk-grid uk-grid-medium uk-grid-match" data-uk-grid-match="{target:'.uk-panel'}">
        <div class="uk-width-1-2">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title"><strong>账户信息</strong></h3>
                <ul>
                    {% if most_recent_account_record and account %}
                    <li>名称：{{account.name}}</li>
                    <li>仓位：{{most_recent_account_record.stock_position*100}}%</li>
                    <li>银证资金：{{most_recent_account_record.security_funding}}</li>
                    <li>银行资金：{{most_recent_account_record.bank_funding}}</li>
                    <li>总市值：{{most_recent_account_record.total_stock_value}}</li>
                    <li>总资产：{{most_recent_account_record.total_assets}}</li>
                    <li>浮动盈亏：{{most_recent_account_record.float_profit_lost}}</li>
                    <li>利润：{{most_recent_account_record.total_profit}}</li>
                    <li>本金：{{most_recent_account_record.principle}}</li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="uk-width-1-2">
            <div class="uk-panel uk-panel-box">
                <h3 class="uk-panel-title"><strong>操作建议</strong></h3>
                <ul>
                    <li>卖出万科100000股</li>
                    <li>卖出百度100000股</li>
                    <li>买入阿里巴巴1000000股</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="uk-grid">
        <div class="uk-width-1-1">
            <button id="buy_button" class="uk-button" data-uk-modal="{target:'#buy_modal'}">买入</button>
            <div id="buy_modal" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a href="" class="uk-modal-close uk-close"></a>
                    <h1>买入</h1>
                    <form id="vm_buy" v-on="submit: submit" class="uk-form">
                        <div class="uk-alert uk-alert-danger uk-hidden"></div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">名称:</label>
                            <div class="uk-form-controls">
                                <input id="buy_stock_name" v-model="stock_name" name="stock_name" type="text" placeholder="名称" class="uk-width-1-1">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">代码:</label>
                            <div class="uk-form-controls">
                                <input id="buy_stock_code" v-model="stock_code" name="stock_code" type="text" placeholder="代码" class="uk-width-1-1">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">价格:</label>
                            <div class="uk-form-controls">
                                <input id="buy_stock_price" v-model="stock_price" name="stock_price" type="text" placeholder="价格" class="uk-width-1-1">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">数量:</label>
                            <div class="uk-form-controls">
                                <input id="buy_stock_amount" v-model="stock_amount" name="stock_amount" type="text" placeholder="数量" class="uk-width-1-1">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">日期:</label>
                            <div class="uk-form-controls">
                                <input id="buy_date" v-model="date" name="date" type="text" data-uk-datepicker="{format:'YYYY-MM-DD'}" class="uk-width-1-1">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 买入</button>
                            <a href="/" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
                        </div>
                    </form>
                </div>
            </div>

            <button id="sell_button" class="uk-button" data-uk-modal="{target:'#sell_modal'}">卖出</button>
            <div id="sell_modal" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a href="" class="uk-modal-close uk-close"></a>
                    <h1>卖出</h1>
                    <form id="vm_sell" v-on="submit: submit" class="uk-form">
                        <div class="uk-alert uk-alert-danger uk-hidden"></div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">名称:</label>
                            <div class="uk-form-controls">
                                <input v-model="stock_name" name="stock_name" type="text" placeholder="名称" class="uk-width-1-1">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">代码:</label>
                            <div class="uk-form-controls">
                                <input v-model="stock_code" name="stock_code" type="text" placeholder="代码" class="uk-width-1-1">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">价格:</label>
                            <div class="uk-form-controls">
                                <input v-model="stock_price" name="stock_price" type="text" placeholder="价格" class="uk-width-1-1">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">数量:</label>
                            <div class="uk-form-controls">
                                <input v-model="stock_amount" name="stock_amount" type="text" placeholder="数量" class="uk-width-1-1">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">日期:</label>
                            <div class="uk-form-controls">
                                <input id="sell_date" v-model="date" name="date" type="text" data-uk-datepicker="{format:'YYYY-MM-DD'}" class="uk-width-1-1">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 卖出</button>
                            <a href="/" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
                        </div>
                    </form>
                </div>
            </div>

            <button class="uk-button" data-uk-modal="{target:'#add_bank_funding'}">增加银行资金</button>
            <div id="add_bank_funding" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a href="" class="uk-modal-close uk-close"></a>
                    <h1>增加银行资金</h1>
                    <form id="vm_add_bank_funding" v-on="submit: submit" class="uk-form">
                        <div class="uk-alert uk-alert-danger uk-hidden"></div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">金额:</label>
                            <div class="uk-form-controls">
                                <input v-model="funding_amount" name="funding_amount" type="text" placeholder="数量" class="uk-width-1-1">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">日期:</label>
                            <div class="uk-form-controls">
                                <input v-model="funding_date" name="funding_date" type="text" data-uk-datepicker="{format:'YYYY-MM-DD'}" class="uk-width-1-1">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 执行</button>
                            <a href="/" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
                        </div>
                    </form>
                </div>
            </div>

            <button class="uk-button" data-uk-modal="{target:'#minus_bank_funding'}">减少银行资金</button>
            <div id="minus_bank_funding" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a href="" class="uk-modal-close uk-close"></a>
                    <h1>减少银行资金</h1>
                    <form id="vm_minus_bank_funding" v-on="submit: submit" class="uk-form">
                        <div class="uk-alert uk-alert-danger uk-hidden"></div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">金额:</label>
                            <div class="uk-form-controls">
                                <input v-model="funding_amount" name="funding_amount" type="text" placeholder="数量" class="uk-width-1-1">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">日期:</label>
                            <div class="uk-form-controls">
                                <input v-model="funding_date" name="funding_date" type="text" data-uk-datepicker="{format:'YYYY-MM-DD'}" class="uk-width-1-1">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 执行</button>
                            <a href="/" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
                        </div>
                    </form>
                </div>
            </div>

            <button id="add_security_funding_button" class="uk-button" data-uk-modal="{target:'#add_security_funding'}">转入银证资金</button>
            <div id="add_security_funding" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a href="" class="uk-modal-close uk-close"></a>
                    <h1>转入银证资金</h1>
                    <form id="vm_add_security_funding" v-on="submit: submit" class="uk-form">
                        <div class="uk-alert uk-alert-danger uk-hidden"></div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">金额:</label>
                            <div class="uk-form-controls">
                                <input v-model="funding_amount" name="funding_amount" type="text" placeholder="数量" class="uk-width-1-1">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">日期:</label>
                            <div class="uk-form-controls">
                                <input id="add_security_funding_date" v-model="date" name="date" type="text" data-uk-datepicker="{format:'YYYY-MM-DD'}" class="uk-width-1-1">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 执行</button>
                            <a href="/" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
                        </div>
                    </form>
                </div>
            </div>

            <button id="minus_security_funding_button" class="uk-button" data-uk-modal="{target:'#minus_security_funding'}">转出银证资金</button>
            <div id="minus_security_funding" class="uk-modal">
                <div class="uk-modal-dialog">
                    <a href="" class="uk-modal-close uk-close"></a>
                    <h1>转出银证资金</h1>
                    <form id="vm_minus_security_funding" v-on="submit: submit" class="uk-form">
                        <div class="uk-alert uk-alert-danger uk-hidden"></div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">金额:</label>
                            <div class="uk-form-controls">
                                <input v-model="funding_amount" name="funding_amount" type="text" placeholder="数量" class="uk-width-1-1">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">日期:</label>
                            <div class="uk-form-controls">
                                <input id="minus_security_funding_date" v-model="date" name="date" type="text" data-uk-datepicker="{format:'YYYY-MM-DD'}" class="uk-width-1-1">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 执行</button>
                            <a href="/" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="uk-overflow-container uk-grid">
        <div class="uk-width-1-1">
            <table class="uk-table uk-table-striped uk-table-condensed uk-text-nowrap">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>大盘</th>
                        <th>本金</th>
                        <th>利润</th>
                        <th>总资产</th>
                        <th>总市值</th>
                        <th>银证资金</th>
                        <th>银行资金</th>
                        <th>浮动盈亏</th>
                        <th>仓位</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>股票</th>
                        <th>数量</th>
                        <th>价格</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account_record in all_account_records %}
                        <tr>
                            <td>{{ account_record.date }}</td>
                            <td>牛</td>
                            <td>{{account_record.principle}}</td>
                            <td>{{ account_record.total_profit }}</td>
                            <td>{{account_record.total_assets}}</td>
                            <td>{{account_record.total_stock_value}}</td>
                            <td>{{account_record.security_funding}}</td>
                            <td>{{account_record.bank_funding}}</td>
                            <td>{{account_record.float_profit_lost}}</td>
                            <td>{{account_record.stock_position*100}}%</td>
                            {% for stock in account_record.stock_hold_records %}
                                <td>{{ stock.stock_name }}</td>
                                <td>{{stock.stock_amount}}</td>
                                <td>{{stock.stock_current_price}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}