{% if probs|length>0 %}
    <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed uk-text-nowrap">
        <thead>
            <tr>
                <th>沪指 E1</th>
                <th>深指 E2</th>
                <th>重心 E3</th>
                <th>收盘 E4</th>
                <th>综合成功率</th>
                <th>获利盘成功率</th>
                <th>换手率成功率</th>
                <th>涨幅成功率</th>
                <th>追涨买入</th>
                <th>获利盘</th>
                <th>换手率</th>
                <th>涨幅</th>
                <th>止盈率</th>
                <th>止损率</th>
                <th>止损缓冲</th>
                <th>持股天数</th>
            </tr>
        </thead>
        <tbody>
            {% for prob in probs %}
                <tr>
                    <td>{{prob.e1|safe}}</td>
                    <td>{{prob.e2|safe}}</td>
                    <td>{{prob.e3|safe}}</td>
                    <td>{{prob.e4|safe}}</td>
                    <td>{{prob.all_success|safe}}</td>
                    <td>{{prob.profit_success|safe}}</td>
                    <td>{{prob.turnover_success|safe}}</td>
                    <td>{{prob.increase_success|safe}}</td>
                    <td>{{prob.buy_or_follow|safe}}</td>
                    <td>{{prob.profit|safe}}</td>
                    <td>{{prob.turnover|safe}}</td>
                    <td>{{prob.increase|safe}}</td>
                    <td>{{prob.win_percent|safe}}</td>
                    <td>{{prob.lose_percent|safe}}</td>
                    <td>{{prob.lose_cache|safe}}</td>
                    <td>{{prob.days|safe}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}